<%= render 'shared/content_title', title: "#{@project.project_name}" %>

<table class= "table table-hover responsive-table">
	<tr><td><strong>Description:</strong></td> <td><%= @project.project_description %></td></tr>
	<tr><td><strong>Contact:</strong></td> <td><%= link_to @user_email, @project.project_contact_person %></a></td></tr>
	<tr><td><strong>Begin Date:</strong></td> <td><%= @project.begin_date %></td></tr>
	<tr><td><strong>End Date:</strong></td> <td><%= @project.end_date %></td></tr>
</table>


